@import url(https://fonts.googleapis.com/css?family=Vollkorn+SC:regular,600,700,900);
@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:regular,italic);
body {
    font-family: 'Vollkorn SC', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #48382F;
}

body {
  background-image: url('images/backgr.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
    background-color: none;
    padding: 20px;
    text-align: center;
    color: wheat;
    margin-bottom: 10px;
}

.shops-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.shop {
    border: 1px solid #723d00;
    border-radius: 5px;
    margin: 10px;
    padding: 20px 20px 70px 20px; /* top, right, bottom, left */
    width: 300px;
    text-align: center;
    background-color: #faefd8;
}

.shop h2 {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: left;
}

.shop p {
    font-size: 15px;
    color: black;
    text-align: left;
    margin-top: 20px;
}

.shop-about {
    font-size: 10px;
    font-family: 'Sorts Mill Goudy', Times, serif;
    text-align: left;
    color: black;
    margin-top: 5px;
}

.map-link {
    font-family: 'Sorts Mill Goudy', Times, serif;
    font-size: 14px;
    color: black; /* or any color you like */
    text-align: left;
    display: block; /* makes the link behave like a paragraph */
    margin-top: 5px;
}

.site-footer {
  margin-top: auto;
  font-family: "Sorts Mill Goudy", serif;
  text-align: center;
  padding: 16px 20px;
  background: transparent;
  color: wheat;
  font-size: 14px;
  margin-top: 40px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  background: #000;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #000;
}

html, body {
  scrollbar-color: #1b110b #48382F;
  scrollbar-width: thin;
}
